<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Stocks" %>
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Stocks</h1>
    <%= link_to "New stock", new_admin_product_stock_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="admin_stocks" class="min-w-full">
    <% @admin_stocks.each do |admin_stock| %>
      <%= render admin_stock %>
      <p>
        <%= link_to "Show this stock", admin_product_stock_path(admin_stock.product, admin_stock), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>